body {
  display: block;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('./assets/bg.jpg') no-repeat center center/cover;
  backdrop-filter: blur(20px); /* Efek blur */
  -webkit-backdrop-filter: blur(10px); /* Untuk Safari */
  background-color: rgba(255, 255, 255, 0.1); /* Transparansi */
  color: white;
}
